<div #e_component class="label-text-input-component" [ngClass]="dumpClasses()">
  <div #e_outline class="label-text-input-outline" (mouseenter)="enter()" (mouseleave)="leave()" >
    <label #e_label [for]="id" class="label-text-input-label" [style.width]="labelWidth+'px'" [style.text-align]="labelAlign">{{label}}</label>
    <div #e_input_block class="label-text-input-block" >
      <input [value]="value"
             [style.width]="inputWidth + 'px'"
             (ngModel)="value"
             [disabled]="disabled"
             [type]="isPassword ? 'password': 'text'"
             [name]="name"
             [id]="id"
             #e_input
             [placeholder]="placeHolder"
             class="label-text-input"
             (focus)="focus()"
             (blur)="blur()"
             (ngModelChange)="input($event)"
             />
    </div>
    <ui-icon [iconTag]="siTag()" #e_si class="label-text-input-si"></ui-icon>
  </div>
  <div #e_msg class="label-text-input-msg">{{validateRet?.msg}}</div>
</div>
