<app-win-title [icon]="'logo'"
               [toolButtons]="toolButtons" [iconWidth]="30" [toolsWidth]="25" [titleText]="'配置检测...'"></app-win-title>
<div style="text-align:center" class="config-check-outline">
  <div class="config-check-main">
    <div class="logo">
      <ui-icon [iconTag]="'logo'"></ui-icon>
    </div>
    <div class="info">
      <div class="name">
        OCTDesk
      </div>
      <div class="version">
        版本：{{version()}}
      </div>
      <div class="copyrights">
        All Rights Copy to OCTopuslink 2017
      </div>
    </div>
  </div>
  <div class="check-msg">
    <app-msg [msg]="msg" [status]="msgStatus"></app-msg>
  </div>

  <div class="buttons">
    <ui-u-button [showText]="'重试'" [iconTag]="'flush'" [disabled]="flushDisabled" (uClick)="reCheck()"></ui-u-button>
    <ui-u-button [showText]="'配置'" [iconTag]="'config'" [disabled]="configDisabled" (uClick)="showConfig()"></ui-u-button>
  </div>
</div>
