.rerun-vm-message-box-outline {
  background: rgba(255,255,255,.8);
  .buttons {
    background-color: rgba(0,0,0,.6);
    padding: 10px;
    text-align: right;
  }
  .info {
    padding: 20px;
    .icon-block {
      font-size: 40px;
      color: rgba(254, 133, 0,1);
      vertical-align: middle;
    }
    .message {
      font-size: 16px;
      font-family: "Microsoft YaHei", serif;
      color: #444444;
      .name {
        color: rgba(254, 133, 0,1);
      }
    }
  }
}
