.green.u-button-component {
  background-color: rgba(141, 197, 72,.3);
  padding: 5px 10px;
  border: 1px solid rgba(255,255,255,.2);
  cursor: pointer;
  transition: .1s;
  .icon {
    color: #fff;
    font-size: 14px;
  }
  .u-button-text {
    font-family: "Microsoft YaHei UI Light", serif;
    color: #fff;
    font-size: 14px;
  }
  &.focus {
    border:1px dotted #0099ff;
  }
  &.hover{
    background-color: rgba(141, 197, 72,.6);
  }
  &.down {
    background-color: rgba(101, 157, 32,.5);
    box-shadow: 1px 1px 0 rgba(255,255,255,.3);
  }
  &.disabled {
    background-color: #999999;
    cursor: default;
    .icon{
      color: #222222;
      text-shadow: 1px 1px 0 #fff;
    }
    .u-button-text {
      color: #222222;
      text-shadow: 1px 1px 0 #fff;
    }
  }
}
