.drop-item-outline {
  border-left: 5px solid rgba(0, 0, 0, .7);
  padding: 2px 10px;
  cursor: pointer;
  color: rgba(0,0,0,.7);
  transition: all .1s;
  margin-top: 1px;
  margin-bottom: 1px;
  .icon-block {
    font-size: 18px;
    padding-right: 10px;
  }
  .label {
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    font-family: "Microsoft YaHei", serif;
    border-bottom: 1px solid rgba(0,0,0,.2);
  }
  &.hover {
    border-left: 5px solid rgba(45, 116, 218, 1);
    color: rgba(45, 116, 218, 1);
    background-color: rgba(45, 116, 218, .2);;
    .label {
      border-bottom: 1px solid rgba(45, 116, 218, 1);
    }
    &.down {
      box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset;
    }
  }
  &.disabled {
    background-color: rgba(0,0,0,.2);
    text-shadow: 1px 1px 0 #FFF;
    color: rgba(0,0,0,.6);
    cursor: default;
    .label{
        border-bottom: 0;
    }
  }
}
